<div ng-hide="profLoginSuccess" ng-controller="LoginController as login">
    <h1>Prijava zaposlenika</h1>
    <p class="col-xs-5"><input ng-model="email" type="text" class="form-control" placeholder="Ime"></p><br><br><br>
    <p class="col-xs-5"><input type="password" ng-model="pass" class="form-control" placeholder="Lozinka"></p><br><br><br>
    <button ng-click="login.send(email, pass)" class="btn btn-primary" type="button">Prijavi se</button>
</div>
<div ng-show="profLoginSuccess && !terminSuccess" ng-controller="TerminController as termin"><br>
  <h2>Unesite novi termin: </h2><br>
  <p class="col-xs-5"><input ng-model="gost" type="text" class="form-control" placeholder="Gost"></p>
  <p class="col-xs-5"><input ng-model="vrijeme" type="time" class="form-control" placeholder="Vrijeme"></p>
  <p class="col-xs-5"><input ng-model="datum" type="date" class="form-control" placeholder="Datum"></p>
  <p class="col-xs-5"><input ng-model="napomena" type="text" class="form-control" placeholder="Napomena"></p><br><br><br><br><br><br>
  <button ng-click="termin.send(gost, vrijeme, datum, napomena)" type="button" class="btn btn-info">Pošalji termin</button>
  <button ng-controller="LoginController as login" ng-click="login.logOut()" type="button" class="btn btn-danger">Odjavi se</button>
</div>
<div ng-show="terminSuccess && profLoginSuccess">
  <h3 id="s">Termin uspješno poslan!</h3>
  <button ng-controller="TerminController as termin" ng-click="termin.dodaj()" type="button" class="btn btn-info">Dodaj još jedan termin</button>
  <button ng-controller="LoginController as login" ng-click="login.logOut()" type="button" class="btn btn-danger">Odjavi se</button>
</div>
