button {
  margin-left: 1.5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
input {
  margin: 1% 0.5%;
}
h1 {
  margin: 1.5%;
}
h2 {
  margin: 1.5%;	
}
#s {
  margin: 7% 1.5%;
}
table { 
  margin: 1%;
  width: 100%;
  white-space: normal;
}