<div ng-hide="portirLoginSuccess" ng-controller="LoginController as login">
    <h1>Prijava portira</h1>
    <p class="col-xs-5"><input ng-model="email" type="text" class="form-control" placeholder="Ime"></p><br><br><br>
    <p class="col-xs-5"><input type="password" ng-model="pass" class="form-control" placeholder="Lozinka"></p><br><br><br>
    <button ng-click="login.send(email, pass)" class="btn btn-primary" type="button">Prijavi se</button>
</div>
<div ng-show="portirLoginSuccess" ng-controller="TerminController as termin"><br>
  <table class="table table-condensed" id="popis">
    <tr ng-repeat="data in read.data" class="col-xs-11">
      <td>{{data.gost}}  |</td> 
      <td>{{data.vrijeme || time}}  |</td>
      <td>{{data.datum || date}}  |</td>
      <td>{{data.napomena}}</td>
    </tr>
  </table>     
  <button class="btn btn-primary" type="button" ng-click="termin.dohvati(korisnik)">Provjeri</button>  
  <button class="btn btn-warning" type="button" ng-controller="TerminController as termin" ng-click="termin.brisanje(id)" >Brisanje</button>  
  <button class="btn btn-danger" type="button" ng-controller="LoginController as login" ng-click="login.logOut()">Odjava</button>  
</div>