<html>
  <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="/js/angular.js"></script>
        <script src="/js/app_frontend.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/register.js"></script>
        <script src="/js/list.js"></script>
        <script src="/js/termin.js"></script>
  </head>

  <body ng-app="projekt" ng-cloak>

  <div ng-controller="MainController as main">
      <button type="button" class="btn btn-primary" ng-click="main.toggleView('portir.html')">Portir</button>
      <button type="button" class="btn btn-success" ng-click="main.toggleView('prof/reg.html')">Registracija</button>
      <button type="button" class="btn btn-warning" ng-click="main.toggleView('prof/prijava.html')">Prijava</button>

      <div ng-include="main.presentedView"></div>
      
    </div>
  </body>
</html>